html {
	background-color: white;	
}

.product-preview-container {
    border: 1px solid #ccc;
    padding: 5px;
    width: 250px;
    margin: 10px ;
    display: inline-block;
    text-align:left;
}
  
.product-preview-container input {
    width: 50px;
}

.product-image {
    width: 120px;
    height: 80px;
}