<html xmlns:th="http://www.thymeleaf.org">   
   <head>
      <meta charset="UTF-8">
      <title>Produtos</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
   </head>
   <body>
     <th:block th:include="/_header"></th:block>
      
       <div class="page-title"><b>Products List<b></div>
       
		<div class="menu">
		<a th:href="@{/}"> Home</a> | <a th:href="@{/shoppingcart}"> MyCart </a>
	</div>
     
       <div class="product-preview-container" th:each="it: ${lista}">
	     
	       <ul>
	            <p> <img class="product-image" th:src="@{|${it.value.image}|}"> </li>
	        
				<p><span th:utext="${it.value.id}"></span></li>		
				<p><b><span th:utext="${it.value.name}"></span></b></li>				
				<p>R$ <span th:utext="${it.value.price}"></span></li>
				
			    <form action="#" method="post" th:action="@{/shoppingcart/items}" > <!--  th:object="${it}"  --> 
				    <p>Units: <input type="number" name="quantity" value="1">
					<p>
			        <input type="hidden" th:value="${it.value.id}" name="product_id"/>
		            <input type="hidden" th:value="${it.value.price}" name="price"/>
			        <button type="submit">Buy now</button>
		    	</form>		
		    	<p>			    		
    	   </ul>
<!--     	     th:object="'product_id='${it.value.id}'&quantity=1&price='${it.value.price}" -->
<!-- 			    		<a th:href="@{|shoppingcart/items?product_id=${it.value.id}&quantity=1&price=${it.value.price}|}"  >Comprar</a> -->    	   
       </div>
      
   </body>
</html>